@use "../../assets/sass/_variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}