@use "./assets/sass/_variables.scss" as *;

.App {
  text-align: center;
}

* {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-background;
}

h1 {
  font-size: 48px;
  color: $color-text;
}
